.main{
    background-color: #372222;
}


.header_content{
    display: flex;
    justify-content: space-around;
    
    padding: 20px 0;
    font-size: 20px;
    

}

.content{
    background-color: #382d29;
    margin-bottom: 30px ;
}
.content_img{
    position: relative;
}

.content_img-img{
   
    max-width: 100%;
    width: auto;
    
}

.content_menu{
    position: absolute;
    bottom: 2%;
    right: 0;
    font-size: 15px;
}

